<div class="container">
  <div class="banner">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <!-- Search bar -->
    <%= form_tag cocktails_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control nav-search-box",
        placeholder: "search" %>
    <% end %>
    <!-- <div class="banner-content">
      Know what you like? Then dig deeper to find what you want
      <i class="fas fa-angle-down fa-2x"></i>
    </div> -->
  </div>
  <div class="cocktail-list">
    <div class="cocktail-heading">
      <h1> COCKTAILS </h1>
      <p>There are <%= @cocktails.count %> cocktails</p>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo? ? (cl_image_path cocktail.photo) : (cl_image_path("Mister Cocktail App/gintonic"))%>')">
              <div class="card-category"><%= cocktail.name %></div>
              <div class="card-description">
                <p>See more for ingredients</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>