<div class="container-fluid">
  <div class="row">
    <div class="banner">
      <div class="dark-overlay">
        <%= cl_image_tag @cocktail.photo, class:"img-square" %>
        <h3><%= @cocktail.name %></h3>
        <% @cocktail.doses.each do |dose| %>
          <%= dose.ingredient[:name] %>
          <%= dose.description %>
        <% end %>
        <br>
        <br>
        <div class="links">
          <!--   </%= link_to cocktail_dose_path(dose), method: :delete, data: {confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
          </% end %> -->
          <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn-white"  %>
          <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "btn-white"  %>
          <%= link_to "Go Back", cocktails_path, class: "btn-white" %>
        </div>
      </div>
    </div>
  </div>
</div>